apiVersion: v1
kind: Service
metadata:
  name: devops-demo-service
  namespace: default
  labels:
    app: devops-demo
spec:
  type: LoadBalancer
  selector:
    app: devops-demo
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
  sessionAffinity: None
